#wrapper {
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    min-height: 100vh;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 9px 0;
    border: 1px solid black;
}


#menu {
    width: 70%;
    margin: 10px 10px;
    background: black;
}


#menu>li {
    width: calc(100% / 4);
    float: left;
    position: relative;
}

#menu::after {
    content: '';
    display: block;
    clear: both;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 11px 40px;
}

#menu a:hover {
    color: black;
}

.menu-sub-list,
.menu-sub-list2 {
    display: none;
}

#menu li:hover>ul {
    display: block;
    position: absolute;
}

.menu-item2,
.menu-item1 {
    position: relative;
    background: rgb(43, 188, 196);
    width: 250px;
}

.menu-sub-list2 {
    background: rgb(43, 188, 196);
    top: 0;
    left: 100%;
    width: 247px;
}

.menu-item1 {
   margin-top: 10px;
}

#menu>li:hover {
    background-color: rgb(43, 188, 196);
}
